html,
body {
  height: 100%;
  margin: 0;
  background: #161616;
}
canvas {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Adicionado para visualização */
}
